@{
    ViewBag.Title = "Home - Carrie's Frugal Living";
}

<section>
    <h2>Introduction</h2>
    Living frugal doesn't have to sound like you're poor! For me, it's about living simply and being happy.
    Less is more. We enjoy finding ways to be frugal. Our family believes that saving money, recycling and
    using what we have is just being responsible to our budget and to our earth. <img src="~/Images/jars.png" width="338" height="441" alt="Jars of canned veggies" class="right" />
    <br /><br />
    It's a fun challenge to find ways to save money and to work towards our goals. As a family, we prefer to use our saved money
    for fun things and to create a legacy for future generations.
</section>