@{
    ViewBag.Title = "Home - Carrie's Frugal Living";
}


<h1>Carrie's Frugal Living</h1>
<div class="row">
    <div class="col-sm-7 well">
        <h2>Introduction</h2>
        Living frugal doesn't have to sound like you're poor! For me, it's about living simply and being happy.
        Less is more. We enjoy finding ways to be frugal. Our family believes that saving money, recycling and
        using what we have is just being responsible to our budget and to our earth.

        <br /><br />
        It's a fun challenge to find ways to save money and to work towards our goals. As a family, we prefer to use our saved money
        for fun things and to create a legacy for future generations.
    </div>
    <div class="col-sm-1 ">
        &nbsp;
    </div>
    <div class="col-sm-4 ">
        <img src="~/Images/jars.png" width="338" height="441" alt="Jars of canned veggies" class="right" />
    </div>
    

</div>

<div class="row">
    <div class="col-sm-12 ">
        &nbsp;<br />
    </div>
</div>

    <div class="row">
        <div class="col-sm-1 ">
            &nbsp;
        </div>

        <div class="col-sm-3 ">
            Lorem ipsum dolor sit amet, lectus felis neque aliquam, dolor curabitur pulvinar eros. Suspendisse in dolor at et urna orci. Ultricies justo wisi justo imperdiet ultrices auctor. Duis mauris velit, justo sed scelerisque hendrerit sed, ipsum viverra eu amet odio nec. Nunc tristique euismod lectus ut feugiat dictumst, malesuada sed dolor, erat laborum ut lectus nec adipiscing, vulputate est magna. Elit euismod cras vel sed donec, vestibulum nec aliquam nullam ipsum id lacus, id praesent nam sed quis sed facilisis. Vehicula porta, orci tempus arcu ligula in condimentum. Id ante tortor tincidunt arcu, nullam cum nec pede diam orci et, turpis consectetuer proin mi odio. Neque egestas praesent odio in, nec dis risus ipsum ante libero. Tellus sed incidunt nec augue hendrerit consequat, sed at vulputate vitae eros.
        </div>

        <div class="col-sm-1 ">
            &nbsp;
        </div>

        <div class="col-sm-3 ">
            Ut non, feugiat morbi velit morbi. Tempor tortor praesent sollicitudin omnis tristique eu, nulla lacus a in, sodales etiam hymenaeos. Et aenean, ut non tempus, phasellus phasellus duis pharetra, nunc arcu tempor metus magna. Nulla sollicitudin quam eros ante, nec fermentum massa. Nunc eu, rutrum scelerisque mi eros, tortor elit ultricies nisl suspendisse class aenean.
        </div>
        <div class="col-sm-1 ">
            &nbsp;
        </div>

        <div class="col-sm-3 ">
            Euismod in rutrum, enim in, sed donec et vel imperdiet condimentum vehicula, facilisis mauris ac fusce vel. Sodales et non a quam id sem, nec eu sit consequatur quis. Vehicula sit nibh ipsum wisi, maecenas lectus et nulla, metus ullam in suspendisse eu eleifend. Lorem placerat pede leo massa nullam, platea delectus anim. Proin urna in, est ut urna pellentesque. Eget nostra suspendisse, vestibulum quisque sed nisl neque dui elit, nunc turpis est ut imperdiet sit. Est id suscipit ipsum mauris, luctus at condimentum bibendum urna ipsum, suspendisse mauris nunc ac, in nam a maecenas commodo enim sit. Orci dignissim, diam dis elit congue mauris vel. Vel orci dignissim et.
        </div>


    </div>
